nav {
  font-weight: bold;
  font-size: 18px;
}

nav:nth-of-type(1) {
    box-shadow: 9px -10px 8px 11px;
}

body {
    background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
        ), url("/images/cooking_bg.jpg");

    position: relative;
    height: 100vh;
}

.hidden {
    display: none;
}

/* ----- Main text ----- */

.deconstructed {
  position: relative;
  margin: auto;
  height: 0.91em;
  color: transparent;
  font-family: "Cambay", sans-serif;
  font-size: 7vw;
  font-weight: bold;
  /* text-transform: uppercase; */
  line-height: 1.00em;
  overflow: hidden;
  top: 40%;
}

.deconstructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #198754;
  pointer-events: none;
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 6s infinite;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(
    transparent 25%,
    black 25%,
    black 50%,
    transparent 50%
  );
  mask-image: linear-gradient(
    transparent 25%,
    black 25%,
    black 50%,
    transparent 50%
  );
  animation: deconstructed2 6s infinite;
}

.deconstructed > div:nth-child(3) {
  -webkit-mask-image: linear-gradient(
    transparent 50%,
    black 50%,
    black 75%,
    transparent 75%
  );
  mask-image: linear-gradient(
    transparent 50%,
    black 50%,
    black 75%,
    transparent 75%
  );
  animation: deconstructed3 6s infinite;
}

.deconstructed > div:nth-child(4) {
  -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 6s infinite;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}

/* -------------------- */

.form-wrapper {
  width: 30vw;
  position: relative;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #198754;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2vw;
  font-size: 18px;
}

@media only screen and (max-width: 1000px) {
  .form-wrapper {
    width: 80%;
  }
}

.form-wrapper h3 {
  text-align: center;
}

.form-wrapper button {
  width: 100%;
  margin-top: 2vh;
  font-weight: bold;
  color: white;
  background-color: #198754;
  border: 2px solid #198754;
}

.form-wrapper button:hover {
  color: #198754;
  background-color: white;
  transition: 200ms;
}

.form-wrapper input {
  border: 2px solid #198754;
  -webkit-appearance: none;
  outline: none;
}

.form-wrapper input:focus {
  box-shadow: none;
  border: 2px solid #198754;
}

.form-wrapper textarea {
  border: 2px solid #198754;
  -webkit-appearance: none;
  outline: none;
  resize: none;
}

.form-wrapper textarea:focus {
  box-shadow: none;
  border: 2px solid #198754;
}

.form-wrapper select {
  border: 2px solid #198754;
  appearance: auto;
}

.form-wrapper select:focus {
  box-shadow: none;
  border: 2px solid #198754;
}

.recipes-wrapper {
  position: relative;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 40vw;
  transform: translateX(-50%);
  border: 3px solid #198754;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2vw;
}

.recipes-wrapper h1 {
  text-align: center;
}

.recipe-filter-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.recipe-filter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 10vw;
  padding: 5px;
  border: 2px solid #198754;
}

.recipe-filter:hover, .recipe-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  transition: 0.1s;
}

.recipe-filter-image-wrapper {
  width: 3.5vw;
  height: 3.5vw;
}

.recipe-filter-image-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 10vw;
  border: 2px solid #198754;
  object-fit: cover;
}

.recipe-filter-text {
  font-size: 18px;
  font-weight: bold;
}

.recipe-wrapper {
  display: flex;
  position: relative;
  border: 4px solid #198754;
  padding: 10px;
  margin-bottom: 20px;
}

.chevron-right {
  position: absolute;
  top: 50%;
  right: 5%;
  font-size: 28px;
  transform: translateY(-50%);
  color: #198754;
}

.recipe-wrapper-image-wrapper {
  width: 10vw;
  height: 6vw;
}

.recipe-wrapper-image-wrapper img {
  width: 100%;
  height: 100%;
  border: 2px solid #198754;
  object-fit: cover;
}

.recipe-title-text {
  margin-left: 20px;
  font-size: 20px;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
}

.page-item {
  border: 1px solid #198754;
}

.page-link {
  color: #198754 !important;
}

.pagination {
  margin-top: 16px;
}

.recipe-card-wrapper {
  position: relative;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 75vw;
  transform: translateX(-50%);
  border: 3px solid #198754;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2vw;
}

.recipe-card-title {
  text-align: center;
}

.recipe-card-picture {
  width: 25vw;
  height: 30vw;
  position: relative;
  top: 0;
  left: 0;
}

.recipe-card-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-card-text {
  position: absolute;
  right: 5vw;
  top: 8vw;
  background-color: blanchedalmond;
  width: 38vw;
}